<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sealyzer" src="{{ "/assets/img/sealyzer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sealyzer </h3>
    <ul>
      <li> Modular Adwords Management Site </li>
    </ul>
    <p>A SEA web site modules about Google Adwords campaign management. It is developed by remote working for a foreign company.</p>
    <a class="project-link" href="http://www.sealyzer.com" target="sealyzer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="saglikgozcusu" src="{{ "/assets/img/saglikgozcusu.png" | prepend: site.baseurl }}"  height="40%" width="80%"  />
  </div>
  <div class="contents-right">
    <h3> Sağlık Gözcüsü [Health Watcher] </h3>
    <ul>
      <li> Product Ingredient Checker for User's Health </li>
    </ul>
    <p>A mobile app for analyzing packed products' (food,cosmetics,cleaning product) ingredients for healthing side. It processes user taken product photo and shows that product is harmful or not. It aimed that moving away user from harmful products.</p>
    <a class="project-link" href="mailto:{{ site.email }}" >Mail me For Check it out</a>
  </div>
</div>
